<html>
  <head>
    <title>SE☆コレクション</title>
  </head>
  <body>
    <div style='background-image: url("/dummy.jpg");width:440px;height:560px'>
      <h3><%= @event.title %></h3>
      <ul style='height:450px'>
        <li>進行度: <%= @system.progress %>%</li>
        <li>体力: <%= @system.power %>%</li>
        <li>経験値: <%= @system.experience %>0%</li>
      </ul>

      <a href='/event/<%= @event.id %>/next'>進む</a>
    </div>

    <p>
      <a href='/'>拠点</a>
      <a href='/senario'>探索</a>
      <a href=''>編成</a>
      <a href=''>強化</a>
      <a href=''>合成</a>
      <a href=''>ガチャ</a>
    </p>

    <div id='debug'>
      <p><a href='/init'>初期化</a>　<%= Time.now %></p>
      <textarea id='console' style='background-color:black;color:green;width:800px;height:150px'>
        <% if @console != nil %>
        <% @console.each do |o| %>
> <%= o.inspect %>
        <% end %>
        <% end %>
      </textarea>
    </div>  </body>
</html>
