<html>
  <head>
    <title>SE☆コレクション</title>
  </head>
  <body>
    <div style='background-image: url("/dummy.jpg");width:440px;height:560px'>
      <ul>
        <% @senario.each do |event| %>
        <li><a href='./event/<%= event.id %>'><%= event.title %> 進行度:<%= event.progress %>% 消費体力: <%= event.cost%></a></li>
        <% end %>
      </ul>
    </div>

    <p>
      <a href='/'>拠点</a>
      <a href='/senario'>探索</a>
      <a href=''>編成</a>
      <a href=''>強化</a>
      <a href=''>合成</a>
      <a href=''>ガチャ</a>
    </p>

    <div id='debug'>
      <p><a href='/init'>初期化</a>　<%= Time.now %></p>
      <textarea id='console' style='background-color:black;color:green;width:800px;height:150px'>
        <% if @console != nil %>
        <% @console.each do |o| %>
> <%= o.inspect %>
        <% end %>
        <% end %>
      </textarea>
    </div>
  </body>
</html>
